body {
  font-family: sans-serif;
}
ul {
  display: block;
  margin: 0 0 10px;
  padding: 0;
  list-style-type: none;
}

div {
  display: block;
}

small {
  text-decoration-style: dotted;
}

.card {
  background-color: lightblue;
}

.temperature {
  font-size: 20px;
}

.unit {
  font-size: 14px;
  margin-left: 5px;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.overview {
  margin-bottom: 20px;
}
